.clickx:hover{
	background-color:aliceblue;
	margin: 2px;
}
.clickx{
	margin: 2px;
}
.selectThree{
	border: solid 1px gainsboro;
	width: 135px;
	background-color: white;
	position: absolute;
	overflow-y: auto;overflow-x:hidden;
    max-height: 100px;
}
.selectSpanA{
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
.selectTwo{
	float: left;
}
.selectOne{
	position: relative;
	width: 490px;
	height: 35px;
}
.selectOneA{
	width: 215px; 
	position: absolute;
	left: 240px;
	top:190px;
}
.selectOneB{
    width: 215px; 
    position: absolute;
	left: 520px;
	top:190px;
}
 .selectOneC{
    width: 215px; 
    position: absolute;
	left: 720px;
	top:190px;
 
 }