<ion-header-bar align-title="left" class="bar-dark">
    <div class="buttons">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="home.setting">
        </button>
    </div>
    <!-- <div class="h1 title" ng-bind="message.name">微信</div> -->
    <div class="h1 title login-title">重启设备</div>
</ion-header-bar>
<ion-view>
    <ion-content class="nff-bg">
        <div class="box col-md-12 wrap">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>{{'module.reboot.head-title' | translate }}</h2>
                </div>
                <div class="box-content">
                    <div style="border: 1px solid  #dbdbdb;padding: 10px;">
                        <div class="alert" style="background-color: #F3565D;border-color: #f13e64;color: white;">
                            <span class="glyphicon glyphicon-warning-sign" style="font-size: 14px;color: white"></span> {{'module.reboot.head-title' | translate }}
                        </div>
                        <div>
                            <span ng-model="executeCommandResult" ng-bind-html="executeCommandResult"></span>
                        </div>
                        <div style="margin-top: 20px;text-align:center">
                            <button class="btn btn-default" ng-click="executeCommand()">{{'module.reboot.execute' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
