.result-background{
  //background-color:#396D;
  background-color:white;
  margin:5px;
  padding:5px;
  color:#fff;
}
.result-window {
  border:3px #ccc outset;
  width: 80%;

  background-color: #000;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10%;
  margin-bottom 5px;
}
.result-title {
  background-color:#08246B;
  padding:2px;
}
#result-text {
  font-family: Consolas, Menlo, Monaco, monospace;
  background-color:#000;
  border-top:#ccc outset 2px;
  height:420px;
  overflow-y:scroll;}