<div>
    <ul class="breadcrumb">
        <li>
            <span>{{ 'module.menutree.onu.info.title' | translate }}</span>
        </li>

    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>{{ontInfo.GPONSN |uppercase}}</h2>

                <!--div class="box-icon">

                    <a href="#" class="btn btn-minimize btn-round btn-default" ng-click="mini()"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>

                </div-->
            </div>
            <div class="box-content">

                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>判决文书总数：
                        </td>
                        <td>已下载文书数：
                        </td>
                        <td>已解析文书数：
                        </td>
                    </tr>
                    <tr style=" border-top: none !important; ">
                        <td>刑事案件数：
                        </td>
                        <td>民事案件数：
                        </td>
                        <td>行政案件：
                        </td>
                    </tr>
                    <tr style=" border-top: none !important; ">
                        <td>词典数：
                        </td>
                        <td>模型数：
                        </td>
                        <td>自定义词典：
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

