<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <!--<button type="button" class="navbar-toggle pull-left animated flip" data-toggle="collapse" data-target="#example-navbar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a class="navbar-brand" href="#"> <img alt="Logo" src="assets/images/favicon.ico" class="hidden-xs"/>
            <span>VERDICT</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle"  ng-click="logout()">
                <i class="glyphicon glyphicon-off"></i><span class="hidden-sm hidden-xs">{{ 'module.header.logout' | translate }}</span>
                <!--span class="caret"></span-->
            </button>
            <ul class="dropdown-menu">
                <!--li><a href="#">Profile</a></li-->
                <li class="divider"></li>
                <li><a  ng-click="logout()">{{ 'module.header.logout' | translate }}</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts-->
        <div id="title_xs_show" class="visible-xs hidden-sm hidden-md hidden-xs btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i>
                <!--<span class="hidden-sm hidden-xs">{{ 'module.header.skin' | translate }}</span>-->
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a  ng-click="go1()"><i class="whitespace"></i> 统计数据</a></li>
                <li><a  ng-click="go2()"><i class="whitespace"></i> 文书检索</a></li>
                <li><a  ng-click="go3()"><i class="whitespace"></i> 判决文书</a></li>
                <li><a  ng-click="go4()"><i class="whitespace"></i> 文书分词</a></li>
                <li><a  ng-click="go5()"><i class="whitespace"></i> 自定义词典</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu nff-header-title">
            <li><a href="#">{{ 'module.header.pageTitle' | translate }}</a></li>

            <!--li>
                <form class="navbar-search pull-left">
                    <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                           type="text">
                </form>
            </li-->
        </ul>

    </div>
</div>
<!--script src="assets/template/js/jquery.cookie.js"></script>
<script src="assets/template/js/charisma.js"></script-->