<ion-header-bar align-title="center" class="bar-dark">
    <div class="buttons">
        <button class="button no-animation button-icon icon ion-chevron-left" ng-click="goBcak()">

        </button>
    </div>
    <div class="h1 title login-title">{{ articleDetails.title }}</div>
    <!--<div class="buttons">-->
        <!--<button class="button no-animation button-icon icon ion-ios-compose" >-->
        <!--</button>-->
    <!--</div>-->
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <ion-card-title>
                    {{ articleDetails.title }}
                </ion-card-title>
                <p ng-model="articleDetails.content" ng-bind-html="articleDetails.content | convertToHtmlElem |trustHtml">

                </p>
            </div>
        </div>
    </ion-content>
</ion-view>


