<div>
    <div>
        <ul class="breadcrumb">
            <li>
                <span>{{ 'module.menutree.onu.batchCommand.title' | translate }}</span>
            </li>

        </ul>
    </div>
    <div class="row">
        <div class="box col-md-12">


            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>分词测试</h2>
                </div>
                <div class="box-content">

                    <textarea rows="3" style="width: 45%" ng-model="source"></textarea>
                    <button type="button" ng-click="testFC()" class="btn btn-default">测试</button>
                    <textarea rows="3" style="width: 45%" ng-model="result"></textarea>
                </div>
            </div>

            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>分词训练</h2>
                </div>
                <div class="box-content">
                    <textarea rows="3" style="width: 100%" ng-model="words" placeholder="词1 词2 词3 ..."></textarea>
                    <button type="button" ng-click="trainFC()" class="btn btn-default">训练</button>

                </div>
            </div>
        </div>
    </div>

</div>
